:root {
   --greenColor : #00BC8A ;
   --darkColor : black ;
   --whiteColor : white ;   }
* {
   margin: 0 ;
   padding: 0;
   box-sizing: border-box;   }
html {
   font-size: 62.5%;
   font-family: sans-serif;   }
@media (max-width : 768px) {
   html {
      font-size: 43.75%;
   }   }
ul {
   list-style: none;   }
a {
   text-decoration: none;   }
section {
   padding: 10vh 10%;   }
.btn {
   width: fit-content;
   letter-spacing: 1px;
   font-size: 1.8rem;
   font-weight: bold;
   text-transform: uppercase;
   color: #666 ;
   border-radius: 5rem;
   border: 2px solid #666 ;
   padding: 1.5rem 3rem;
   background-color: white;
   cursor: pointer;
   transition: 0.4s;   }
.btn:hover {
   background-color: #eee ;   }
/*------------*/
header {
   padding: 25vh 10% 10vh;
   background: linear-gradient(to right , #564D78 , #77437B );
   display: flex;
   color: white;   }
header .left {
   padding: 3rem;
   font-size: 4rem;
   border-right: 1px solid #ccc ;
   width: 50%;
   font-weight: bold;
   line-height: 1.6;   }
header .left p:hover {
   cursor: pointer;
   color: var(--greenColor);   }
header .right {
   width: 50%;
   padding: 3rem;
   font-size: 2rem;
   color: white;
   line-height: 1.6;
   color: #ccc;
   font-weight: bold ;   }
header .right button {
   margin-top: 3rem;
   background-color: var(--greenColor);
   padding: 1.5rem 3rem;
   border-radius: 5rem;
   border: none;
   outline: none;
   font-size: 2rem;
   text-transform: uppercase;
   color: white;
   font-weight: bold;
   cursor: pointer;
   transition: 0.4s;   }
header .right button:hover {
   background-color: green ;   }
@media (max-width : 992px) {
   header  {
      flex-direction: column;
   }
   header .left {
      width: 100%;
      border-right: none;
   }
   header .right {
      width: 100%;
   }   }
/*------------*/
.magna {
   display: flex;   }
.magna .left {
   width: 50%;
   border-right: 1px solid #ccc ; 
   padding: 3rem;   }
.magna .left h1 {
   font-size: 4rem;
   color: #666;   }
.magna .left p {
   color: #777;
   font-size: 1.8rem;
   line-height: 1.6;
   margin: 3rem 0;   }
.magna .right {
   display: none;
   /* display: flex; */
   flex-direction: column; 
   gap: 3rem ;
   width: 50%;
   padding: 3rem;
   font-size: 2rem;
   color: #777;   }
.magna .right li i {
   color: var(--greenColor);
   padding: 0 1rem ;   }
@media (max-width : 992px) {
   .magna  {
      flex-direction: column;
   }
   .magna .left {
      width: 100%;
      border-right: none;
   }
   .magna .right {
      width: 100%;
   }   }
/*------------*/
.photos {
   background-color: #eee ;   }
.photos .box {
   display: flex;
   background-color: white;
   margin-bottom: 5rem;   }
.photos .box div {
   padding: 3rem;  }
.photos .box h1 {
   font-size: 3rem;
   color: #666;   }
.photos .box p {
   font-size: 1.8rem;
   line-height: 1.6;
   color: #777;
   margin: 3rem 0;   }
.photos  .last {
   display: block;
   margin: 0 auto;   }
.photos  .box span {
   font-size: 2rem;
   display: block;
   color: var(--greenColor);
   margin-top: 3rem;   }
@media (max-width : 992px) {
   .photos .box {
      flex-direction: column;
   }   }
/*------------*/
.contact {
   display: flex;   }
.contact .left {
   width: 50%;
   border-right: 1px solid #ccc;
   display: flex;
   flex-direction: column;
   gap: 3rem;
   padding: 3rem;    }
.contact .left h1 {
   font-size: 3rem;
   color: #666;   }
.contact .left p {
   font-size: 1.8rem;
   line-height: 1.6;
   color: #777;   }
.contact .left form {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   gap: 3rem;   }
.contact .left form input {
   font-size: 1.8rem;
   padding: 1.5rem;
   width: calc(100%);
   border: 1px solid #ccc;
   outline: none;   }
.contact .left form textarea:focus ,
.contact .left form input:focus {
   border: 2px solid var(--greenColor);   }
.contact .left form textarea {
   width: 100%;
   resize: none;
   height: 15rem;
   border: 1px solid #ccc;
   outline: none;
   padding: 1.5rem;
   font-size: 1.8rem;   }
.contact .right {
   width: 50%;
   padding: 3rem ;
   font-size: 2rem;
   color: #777;   }
.contact .right i {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   height: 5rem;
   width: 5rem;
   color: var(--greenColor);   }
@media (max-width : 992px) {
   .contact {
      flex-direction: column;
   }
   .contact .left {
      width: 100%;
      border-right: none;
   }
   .contact .right {
      width: 100%;
   }   }
/*------------*/
footer {
   font-size: 2rem;
   color: #666;
   background-color: #eee;
   line-height: 10vh ;
   width: 100%;
   text-align: center;   }
footer span {
   font-weight: bold;
   cursor: pointer;
   transition: 0.4s;
   color: black;   }
footer span:hover {
   color: var(--greenColor);   }
/*------------*/
.pass {
   width: 50rem;
   height: 25rem;
   margin: 5vh auto;
   background-color: #eee;
   border-radius: 2rem;
   border: 1px solid var(--greenColor);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   padding: 3rem;   }
.pass h1 {
   font-size: 3rem;
   color: var(--greenColor);   }
.pass .inp {
   width: 100%;
   font-size: 2rem;
   display: flex;
   align-items: center;
   gap: 1rem;   }
.pass .inp input {
   line-height: 3rem;
   padding: 0 1rem;
   flex-grow: 1;
   outline: none;
   border: 1px solid #ccc;
   border-radius: 1rem;   }
.pass .inp input:focus {
   border: 1px solid var(--greenColor);   }
.pass p {
   font-size: 2rem;
   color: red;   }
.mainPage {
   display: none;   }
/*------------*/
